DirectoryIndex index.php

<IfModule mod_rewrite.c>
  RewriteEngine On

  # If the requested resource is not a real file or directory,
  # forward to front controller.
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [QSA,L]
</IfModule>
